<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table th, table td {
            padding: 5px;
        }

        .row {
            font-style: italic;
        }

        .even-row {
            color: black;
        }

        .odd-row {
            color: blue;
        }
    </style>
</head>
<body>
<h1>User</h1>
<form th:action="@{/admin/edituser/{id} (id=*{id})}"  method="post" >
    <table border="1">
        <thead>
        <tr>
            <th> Id </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Email </th>
            <th> Login </th>
            <th> Password</th>
            <th> Role </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${usersedit.id}"> Id </span></td>
            <td><input type="text"
                       name="firstName"
                       th:value="${usersedit.firstName}"/></td>
            <td><input type="text"
                       name="lastName"
                       th:value="${usersedit.lastName}"/></td>
            <td><input type="text"
                       name="age"
                       th:value="${usersedit.age}"/></td>
            <td><input type="text"
                       name="email"
                       th:value="${usersedit.email}"/></td>
            <td><input type="text"
                       name="password"
                       th:value="${usersedit.password}"/></td>
            <td>
                <th:block th:each="roles : ${listRole}">
                    <br>
                    <input name="idRole"
                           th:checked="${#sets.contains(usersedit.roles, roles)}"
                           th:value="${roles.id}" type="checkbox"/>
                    <label th:text="${roles.name}"></label>
                </th:block>
            </td>
        </tr>


    </table>

    <input type="submit" value="Save">
</form>
</body>
</html>